---
import "../styles/global.css";
import Baselayout from "../layouts/baselayout.astro";

const pageTitle = "Blog";
---

<Baselayout pageTitle={ pageTitle }>
	<p>Blog page for the project</p>

	<p>Here will be showing the posts of the Blog</p>

	<ul>
		<li>
			<a href="/posts/post">Post</a>
		</li>
		<li>
			<a href="/posts/post1">Post1</a>
		</li>
	</ul>
</Baselayout>
