---
import Hamburger from "./hamburger.astro";
import Navigation from "./navigation.astro";
import Themeicon from "./themeicon.astro";
---

<header>
    <nav>
        <Hamburger />
        <Themeicon />
        <Navigation />
    </nav>
</header>

<style>
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @media (width >=636px) {
        nav {
            display: flex;
            flex-direction: row-reverse;
        }
    }
</style>